a {
  color: #00e;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0;
}
b, strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
html {
  background-image: url("static/img/bg.png");
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed;
  /* end of body.home */

}
html body {
  color: #666666;
  font-size: 13px;
  line-height: 1.231;
  font-family: "minion-pro", Times, "Times New Roman", serif, Georgia, Times, serif;
}
html body h3 {
  border-bottom: 1px solid #888888;
  clear: both;
  font-family: "minion-pro", Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 10px;
  font-weight: normal;
  padding-bottom: 2px;
}
html body h3.figure1 {
  margin-bottom: 17px;
}
html body h3.figure2 {
  margin-top: 20px;
}
html body p {
  font-family: "minion-pro", Times, "Times New Roman", serif;
  font-size: 11px;
  line-height: 1.4;
  margin-top: 0;
}
html body header {
  background: #000;
  height: 35px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}
html body header nav {
  font-family: "myriad-pro-condensed", "Myriad Pro Condensed", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
}
html body header nav ul {
  margin-top: 9px;
}
html body header nav ul li {
  display: inline;
  margin: 0 20px;
}
html body header nav ul li a {
  color: #f1e4d3;
  text-decoration: none;
}
html body header nav ul li a:hover {
  border-bottom: 5px solid #f1e4d3;
  color: #f1e4d3;
  padding-bottom: 2px;
}
html body header nav ul li a:visited {
  color: #f1e4d3;
}
html body header nav ul li.current_page_item a {
  border-bottom: 5px solid #f1e4d3;
  color: #f1e4d3;
  padding-bottom: 2px;
}
html body footer .footer_black {
  background: #000;
  left: 0;
  bottom: 0;
  height: 35px;
  position: fixed;
  width: 100%;
  z-index: 300;
}

#form_submit {
	clear:both;
	background-color:#005481;
	border:none;
	color:#eee;
	cursor: pointer;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
	overflow: visible;
	padding: 9px 30px;
	text-align: center;	
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius: 4px 4px 4px 4px;
}
